*{
	margin:0;
}

body{
  background-color: #02010a;
}

footer a{
	text-decoration: none;
}

header{
  color: white;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  text-shadow: 2px 2px #02010a;
  font-family: 'Dancing Script';
  position: fixed;
  top:0;
	z-index: 1;
}

header a{
  color: white;
  text-shadow: 2px 2px #02010a;
}

header h1{
  display: inline;
  margin-left: 2%;
}

nav{
  float: right;
  display: inline;
  margin-bottom: 2%;
}

ul{
  list-style-type: none;
  font-size: 25px;

}

header li{
  margin: 0px 25px;
  display: inline;
}

figcaption{
  color: white;
  font-family: 'Dancing Script';
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
}

footer{
	font-family: 'Dancing Script';
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
	display: inline;
	float: right;
}

footer figcaption{
	font-size: 16px;
	color: black;
	text-decoration: none;
	display: inline;
}

footer img{
	width: 6%;
}

.contenidoFooter{
	display: flex;
	flex-direction: row;
}

/* Seccion de media queries*/
@media(min-width:1024px){
	header{
    width: 900px;
  }

	footer{
	  width: 900px;
		margin-top: 0%;
	}

	.contenedor{
		width: 900px;
		margin: 0 auto;
		margin-top: 46px;
	}

	.contacto{
		width: 22%;
		margin-left: 3%;
	}

	.terminos{
		width: 22%;
	}

	.social{
		width: 30%;
		margin-left: 5%;
	}

	.derechos{
		width: 22%;
	}
}

@media(min-width:768px) and (max-width:1023px){
	header{
    width: 100%;
  }

	header h1{
    width: 100%;
    text-align: center;
  }

	header li{
    margin: 0px 18px;
  }

	footer{
	  width: 100%;
		margin-top: 1%;
	}

	.contenedor{
		width: 100%;
		margin: 0 auto;
		margin-top: 6%;
	}

	.contacto{
		width: 22%;
		margin-left: 3%;
	}

	.terminos{
		width: 22%;
		margin-left: 5%;
	}

	.social{
		width: 30%;
		margin-left: 5%;
	}

	.derechos{
		width: 22%;
	}

}

@media(min-width:425px) and (max-width:767px){
	header{
    width: 100%;
  }

	header h1{
    width: 100%;
    text-align: center;
  }

	header li{
    margin: 0px 18px;
  }

	footer{
	  width: 100%;
		margin-top: 1%;
	}

	.contenedor{
		width: 100%;
		margin: 0 auto;
		margin-top: 18%;
	}

	.contenidoFooter{
		display: flex;
		flex-direction: column;
	}

	.contacto{
		width: 100%;
		order: 1;
		margin-bottom: 7%;
	}

	.terminos{
		width: 100%;
		order: 2;
		margin-bottom: 7%;
	}

	.social{
		width: 100%;
		order: 3;
		margin-bottom: 7%;
	}

	.derechos{
		width: 100%;
		order: 4;
		margin-bottom: 7%;
	}

}

@media (min-width:375px) and (max-width:424px){
	header{
    width: 95%;
  }

	header h1{
    width: 95%;
    text-align: center;
		font-size: 25px;
  }

	header li{
    margin: 0px 8px;
		float: left;
  }

	footer{
	  width: 100%;
		margin-top: 1%;
	}

	.contenedor{
		width: 95%;
		margin: 0 auto;
		margin-top: 19%;
	}

	.contenidoFooter{
		display: flex;
		flex-direction: column;
	}

	.contacto{
		width: 100%;
		order: 1;
		margin-bottom: 7%;
	}

	.terminos{
		width: 100%;
		order: 2;
		margin-bottom: 7%;
	}

	.social{
		width: 100%;
		order: 3;
		margin-bottom: 7%;
	}

	.derechos{
		width: 100%;
		order: 4;
		margin-bottom: 7%;
	}
}

@media (min-width:100px) and (max-width:374px){
	header{
    width: 95%;
  }

	header h1{
    width: 95%;
    text-align: center;
		font-size: 25px;
  }

	header li{
    margin: 0px 8px;
		float: left;
  }

	footer{
	  width: 100%;
		margin-top: 1%;
	}

	.contenedor{
		width: 95%;
		margin: 0 auto;
		margin-top: 22%;
	}

	.contenidoFooter{
		display: flex;
		flex-direction: column;
	}

	.contacto{
		width: 100%;
		order: 1;
		margin-bottom: 7%;
	}

	.terminos{
		width: 100%;
		order: 2;
		margin-bottom: 7%;
	}

	.social{
		width: 100%;
		order: 3;
		margin-bottom: 7%;
	}

	.derechos{
		width: 100%;
		order: 4;
		margin-bottom: 7%;
	}
}
