*{
	margin:0;
}

body{
  background-color: #02010a;
}

header{
  color: white;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  text-shadow: 2px 2px #02010a;
  font-family: 'Dancing Script';
  position: fixed;
  top:0;
}

header a{
  color: white;
  text-shadow: 2px 2px #02010a;
}

header h1{
  display: inline;
  margin-left: 2%;
}

nav{
  float: right;
  display: inline;
  margin-bottom: 2%;
}

header ul{
  list-style-type: none;
  font-size: 25px;
  display: inline;
}

header li{
  margin: 0px 25px;
  display: inline;
}

/*footer{
  margin-top: 5%;
  width: 900px;
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  bottom: 0;

}
*/
figcaption{
  color: white;
  font-family: 'Dancing Script';
}

/* Seccion de media queries*/
@media(min-width:1024px){
	header{
    width: 900px;
  }

	.contenedor{
		width: 900px;
		margin: 0 auto;
		margin-top: 46px;
	}
}

@media(min-width:768px) and (max-width:1023px){
	header{
    width: 100%;
  }

	header h1{
    width: 100%;
    text-align: center;
  }

	header li{
    margin: 0px 18px;
  }

	.contenedor{
		width: 100%;
		margin: 0 auto;
		margin-top: 6%;
	}
}


@media(min-width:425px) and (max-width:767px){
	header{
    width: 100%;
  }

	header h1{
    width: 100%;
    text-align: center;
  }

	header li{
    margin: 0px 18px;
  }

	.contenedor{
		width: 100%;
		margin: 0 auto;
		margin-top: 18%;
	}
}

@media (max-width:424px){
	header{
    width: 100%;
  }

	header h1{
    width: 100%;
    text-align: center;
		font-size: 25px;
  }

	header li{
    margin: 0px 8px;
		float: left;
  }

	.contenedor{
		width: 100%;
		margin: 0 auto;
		margin-top: 19%;
	}
}
