body{
  background-color: #02010a;
}

a{
    text-decoration: none;
}

header{
  padding: 15px 15px 15px 15px;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  color: white;
  text-shadow: 2px 2px #02010a;
  font-family: 'Dancing Script';
  position: fixed;
  top: 0;

}

header a{
  color: white;
  text-shadow: 2px 2px #02010a;

}

header h1{
  display: inline;
}

nav{
  float: right;
  display: inline;
}

header ul{
  list-style-type: none;
  font-size: 25px;
  display: inline;

}

header li{
  margin: 0px 25px;
  display: inline;

}

footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  bottom: 0;

}

/* Seccion de media queries*/
@media(max-width:424px){
  nav{
    padding: 1%;
    float:left;
  }

  header li{
    margin: 0px 5px;

  }
}

@media(max-width:321px){
  header h1{
    font-size: 25px
  }

  header ul{
    font-size: 20px
  }

  header li{
    margin: 0px 5px;
  }
}
