.principal{
  background-color: #82c3a6;
}

.secundarias{
  background-color: #d5c75f;
}

.principal img{
  border-style: solid;
}

.secundarias img{
  border-style: solid;
  border-color: black;
}

.secundarias img:hover{
  box-shadow: 8px 8px 5px #82c3a6;
}

.imgPaisaje:hover{
  transform: rotate(10deg);
}

.imgRetratos:hover{
  transform: translate(5px, -20px);
}


/* Seccion de media queries*/
@media(min-width:768px){
  .principal img{
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .secundarias section{
    display: flex;
    flex-direction: row;
  }

  .secundarias figure{
    width: 60%;
    margin-left: 3%;
  }

  .secundarias img{
    width: 90%;
    margin-top: 8%;
    margin-bottom: 8%;
  }
}

@media(min-width:426px) and (max-width:767px){
  .principal img{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .secundarias figure{
    width: 50%;
    margin-left: 3%;
  }

  .secundarias img{
    width: 90%;
    margin-top: 7%;
    margin-bottom: 1%;
  }
}

@media (max-width:425px){
  .principal img{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .secundarias figure{
    width: 95%;
    margin-left: 3%;
  }

  .secundarias img{
    width: 95%;
    margin-top: 7%;
    margin-bottom: 1%;
  }
}
